doctype html
html
  head
    title Riku Rouvila
    meta(charset='utf-8')
    meta(name='keywords', content='developer,javascript,finland,unity,unity3d,coffeescript,node.js,frontend,angularjs,ruby on rails,mobile,html5,couching,consulting,git')
    link(rel='stylesheet', href='css/style.css')
    script(src='js/bundle.js')
  body
    section#main
      .foo
        .bar
          .baz
            h1 Riku Rouvila
            p
              |Full-stack developer @&nbsp;
              a(href='https://leonidasoy.fi/', target='_blank') Leonidas Oy

    section.view
      .container

        .feature
          .feature-text
            h1 Full-stack development with cutting-edge tools
            p
              |It's important to always keep learning, especially when dealing with constantly evolving platforms such as web browsers and mobile devices.
              |I have a lot of projects behind me, both with more mature technologies and cutting-edge technologies such as <strong>HTML5</strong>, <strong>Node.js</strong>, <strong>AngularJS</strong> and <strong>Ruby on Rails</strong>.
              |These projects have given me a great opportunity to learn to choose the right tools for the right situation.
          .feature-image
            img(src='images/icons/diamond.png')

        .feature
          .feature-image
            img(src='images/icons/mobile.png')
          .feature-text
            h1 Mobile development and responsive design
            p Jerry: That is one magic loogie. Jerry: Sometimes the road less <strong>HTML5</strong> traveled is less traveled for a reason. Auctioneer: Ten thousand to the... shapely woman on the left. George: If it wasn't for the toilet, there would be no books.

        .feature
          .feature-text
            h1 Game development
            p
             | I have a lot of experience creating games both for my own pleasure and for clients.
          .feature-image
            img(src='images/icons/game.png')

        .feature
          .feature-image
            img(src='images/icons/couching.png')
          .feature-text
            h1 Couching and consulting
            p
              | Looking for someone to help your company with tools like <strong>AngularJS</strong> or <strong>Node.js</strong>?
              | Want to increase your productivity and improve your workflow? Need help with build or test automation?
              | I have a lot of experience with modern build tools such as <strong>Gulp.js</strong> and <strong>Grunt</strong> and
              | I've been helping various development teams integrating these tools to their toolkit.


    footer.footer
      nav.social-links
        a(href='https://www.linkedin.com/in/rikurouvila', target='_blank')
          span.icon
            | &#xE018;
        a(href='https://github.com/rikukissa', target='_blank')
          span.icon
            | &#xE022;
        a(href='https://twitter.com/rikurouvila', target='_blank')
          span.icon
            | &#xE032;

      a.email(href='https://twitter.com/rikurouvila', target='_blank')
        | riku.rouvila@gmail.com
